<!-- Sidebar -->
<aside id="sidebar" class="sidebar border border-black border-2">
    <div class="sidebar-header d-flex align-items-center justify-content-center">
        <h4 class="m-0"><i class="bi bi-text-left"></i> Training Category</h4>
    </div>
    <form action="" method="POST" class="m-2">
        <input type="text" name="search" id="search" class="form-control border-black" placeholder="Search...">
    </form>
    <ul class="sidebar-nav" id="sidebar-nav">
        @foreach (var category in Model)
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Training" asp-action="AllTrainings" asp-route-category="@category.CategoryName">
                    <span>@Html.Raw(category.CategoryIcon) @category.CategoryName</span>
                </a>
            </li>
        }
    </ul>
</aside>