@{
    ViewData["Title"] = "Shugyopedia";
}

<!-- Sidebar -->
<aside id="sidebar" class="sidebar border border-black border-2">
    <div class="sidebar-header d-flex align-items-center justify-content-center">
        <h4 class="m-0"><i class="bi bi-text-left"></i> Training Category</h4>
    </div>
    <form action="" method="POST" class="m-2">
        <input type="text" name="search" id="search" class="form-control border-black" placeholder="Search...">
    </form>
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link" >
                <span><i class="bi bi-pc-display-horizontal"></i>Programming</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span><i class="bi bi-book"></i>Education</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span><i class="bi bi-heart-pulse"></i>Medical</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span><i class="bi bi-camera"></i>Photography</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span><i class="bi bi-camera-reels"></i>Videography</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span><i class="bi bi-code-slash"></i>Web Development</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span><i class="bi bi-palette"></i>Arts</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span><i class="bi bi-music-note"></i>Music</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span><i class="bi bi-bicycle"></i>Sports</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span><i class="bi bi-lightning-fill"></i>Dance</span>
            </a>
        </li>

    </ul>
</aside>

<!-- MAIN BODY -->
<main id="main" class="main">
    <!-- Carousel -->
    <div class="carousel-container">
        <div id="topics" class="carousel slide py-4" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#topics" data-bs-slide-to="0" class="active" aria-current="true"
                        aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#topics" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#topics" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-content text-dark">
                        <div class="row">
                            <div class="col-6 px-5 py-4">
                                <h3>Dive into Programming</h3>
                                <h4 class="fw-bold">Learn C#, Python, and many more</h4>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-start justify-content-center">
                                    <img src="~/img/person_coding.png" class="img-fluid carousel-img" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="carousel-content text-dark">
                        <div class="row">
                            <div class="col-6 px-5 py-4">
                                <h3 class="fw-bold">Study your favorite subject</h3>
                                <h4 class="fw-bold">Learn Math, Science, and many more</h4>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-start justify-content-center">
                                    <img src="~/img/person_coding.png" class="img-fluid carousel-img" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-content text-dark">
                        <div class="row">
                            <div class="col-6 px-5 py-4">
                                <h3 class="fw-bold">Discover home remedies</h3>
                                <h4 class="fw-bold">Learn about medicines and many more</h4>
                            </div>
                            <div class="col-6">
                                <div class="d-flex align-items-start justify-content-center">
                                    <img src="~/img/person_coding.png" class="img-fluid carousel-img" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Shugyopedia -->
    <div class="container p-5">
        <h1 class="fw-normal lh-mg">
            With SHUGYOPEDIA, you’ll have access to an endless amount of knowledge.
            Get Started by selecting a Training Category.
        </h1>

    </div>

</main>
