@using System.Text.RegularExpressions;
@{
    ViewData["Title"] = "Shugyopedia";
}
@model List<ShugyopediaApp.Services.ServiceModels.TrainingCategoryViewModel>

<!-- MAIN BODY -->
@await Component.InvokeAsync("TrainingCategorySidebar")
<main id="main" class="container-main">
    <!-- About Shugyopedia -->
    <div>
        <h3>What will you learn today?</h3>
    </div>
    <!--carousel-->
    <div id="carousel" class="carousel-container">
        <div class="carousel-content">
            <div id="first_content">
                <img src="~/img/carousel_pic1.png" style="width:320px;" />
                <div class="carousel-text">
                    <h3>Dive into Programming Learn Python, C#</h3>
                    <p>
                        Unlock the world of programming! Learn python and C# for a powerful coding
                        foundation. Perfect for beginners or those looking to expand their skills. Start
                        your coding journey now!
                    </p>
                </div>
            </div>
            <div id="second_content">
                <img src="~/img/carousel_pic1.png" style="width:320px;" />
                <div class="carousel-text">
                    <h3>Second Content</h3>
                    <p>
                        lorem ipsum
                    </p>
                </div>
            </div>
            <div id="third_content">
                <img src="~/img/carousel_pic1.png" style="width:320px;" />
                <div class="carousel-text">
                    <h3>Third Content</h3>
                    <p>
                        ipsum lorem
                    </p>
                </div>
            </div>
        </div>
        <!-- end of carousel content -->
        <div class="carousel-buttons">
            <button onclick="showItem(0)">&nbsp;</button>
            <button onclick="showItem(1)">&nbsp;</button>
            <button onclick="showItem(2)">&nbsp;</button>
        </div>
    </div>
    
    <!--end of carousel-->
    <div class="bottom-content">
        <h5>
            With SHUGYOPEDIA, you’ll have access to an endless amount of knowledge.
            Get Started by selecting a Training Category.
        </h5>
    </div>
</main>
