@model List<string>
<div class="row justify-content-center my-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center">Filter</h4>
                <form asp-controller="" asp-action="" method="POST">
                    <div class="form-group my-3">
                        <label for="filter_category">Training Category:</label>
                        <div class="d-flex">
                            <select name="filter_category" id="filter_category" class="form-select">
                                <option value="" selected>All</option>
                                @foreach (var category in Model)
                                {
                                    <option value="@category">@category</option>
                                }
                            </select>
                            @*
                            <input type="reset" class="btn btn-primary mx-3" value="Reset" />
                            <input type="submit" class="btn btn-success mx-3" value="Filter" />
                            *@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>