@section styles {
    <link rel="stylesheet" href="~/css/confirmation.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Reset Confirmation";
}
<div class="top-container">
    <div class="left">
        <img src="darkblue-logo.png" />
    </div>
    <div class="right">
    </div>
</div>
<div class="container">
    <div class="top">
        <h1>Reset Password Confirmation</h1>
        <p>Your password has been reset. Please <a href="">click here to log in.</a></p>
    </div>
</div>