@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Forgot Password";
}
@model ShugyopediaApp.Services.ServiceModels.ForgotPasswordViewModel
<div class="container my-4" style="padding-top:80px;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-center mx-auto">
                        <img src="~/img/logo_with_text_dark.png" alt="" width="300" >
                    </div>
                    <h3 class="card-subtitle mb-2 text-center" style="margin-top:30px;">Account Recovery</h3>
                    <p class="card-subtitle mb-2 text-center" style="margin-top:20px;">Enter the email associated with your account and we’ll send you a link to reset your password.</p>
                    <form asp-action="EmailCheckExist" asp-controller="Account" method="POST" class="my-5">
                        <div class="form-group my-3">
                            <label for="UserEmail" style="margin-left:5px;">Email</label>
                            <input type="email" asp-for="UserEmail" class="form-control"
                                   placeholder="Enter email" style="margin-top:10px;" required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" style="width: 100%;margin-bottom:-50px;">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>