@section styles {
    <link rel="stylesheet" href="~/css/reset.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Reset Password";
}
<div class="top-container">
    <div class="left">
        <img src="darkblue-logo.png" />
    </div>
    <div class="right">
    </div>
</div>
<div class="container">
    <div class="top">
        <h1>Reset Password</h1>
        <h4>Reset your password.</h4>
        <hr>
    </div>
    <div class="middle">
        <form>
            <div class="email-user">
                <label for="">Email</label><br>
                <input type="text" placeholder="Email">
            </div>
            <div class="password-user">
                <label for="">Password</label><br>
                <input type="password" placeholder="Password"><br>

                <label for="">Confirm Password</label><br>
                <input type="password" placeholder="Confirm Password">
            </div>
            <div class="submit-btn">
                <button type="submit">Reset</button>
            </div>
        </form>
    </div>
</div>