@{
	ViewData["Title"] = "Add Training";
}
<main>
    <div class="container my-4">
        <h1 class="text-center">Add Training</h1>
        <div class="row justify-content-center my-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="POST">
                            <div class="form-group my-3">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="training_name">Training Name</label>
                                        <input type="text" name="training_name" id="training_name"
                                               class="form-control" placeholder="Enter training name">
                                    </div>
                                    <div class="col-6">
                                        <label for="training_category">Training Category</label>
                                        <select name="training_category" id="training_category" class="form-select">
                                            <option selected disabled>Category Name</option>
                                            <option value="programming">Programming</option>
                                            <option value="med">Medical</option>
                                            <option value="arts">Arts</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group my-3">
                                <label for="training_description">Training Description:</label>
                                <textarea name="training_description" id="training_description" class="form-control" rows="3" placeholder="Enter training description"></textarea>
                            </div>
                            <div class="form-group my-3 mx-auto">
                                <label for="training_image">Training Image:</label>
                                <input type="file" name="training_image" id="training_image">
                            </div>
                            <div class="d-flex align-items-center justify-content-center mt-5">
                                <button type="reset" class="btn btn-primary mx-5">Clear</button>
                                <button type="submit" class="btn btn-success mx-5">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>