@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Ratings";
}

<div class="text-center">
    <div>
        @Html.Partial("~/Views/Shared/_Header.cshtml")
    </div>
    <div>
        @Html.Partial("~/Views/Shared/_TopNavbar.cshtml")
    </div>
    <h1>Ratings page</h1>
</div>
