@{
    ViewData["Title"] = "Resources";
}

@{
    string[] tableHeader = {
        "Resource ID",
        "Topic ID",
        "Resource Name",
        "Resource Type",
        "Resource Path",
        "Created By",
        "Created Time",
        "Actions"
    };
}

<div class="text-center">
    <div>
        @Html.Partial("~/Views/Shared/_Header.cshtml")
    </div>
    <div style="padding: 20px;">
        <h1>Resources Page</h1>
        <div class="training-category-btns">
            <button>Add</button>
            <input type="search" placeholder="Search..." />
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        @foreach (string header in tableHeader)
                        {
                            <th>@header</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>static</td>
                        <td>static</td>
                        <td>static</td>
                        <td>static</td>
                        <td>static</td>
                        <td>static</td>
                        <td>
                            <button>Edit</button>
                            <button>Delete</button>
                            <button>View Trainings</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
