@{
    ViewData["Title"] = "Users";
}

<div class="text-center">
    <div>
        @Html.Partial("~/Views/Shared/_Header.cshtml")
    </div>
    <div>
        @Html.Partial("~/Views/Shared/_TopNavbar.cshtml")
    </div>
    <h1>Users Page</h1>
</div>
