@using ShugyopediaApp.Services.ServiceModels;
@{
    ViewData["Title"] = "All Trainings";
}
@model Dictionary<string, object>

<!-- SIDE BAR -->
@await Component.InvokeAsync("TrainingCategorySidebar")
<!-- MAIN BODY -->
<main class="main">
    <div class="pos-img">
        <img src="~/img/bg-shape1.png" alt="HTML tutorial" class="w-100" />
    </div>

    <!-- TRAININGS -->
    <div class="container" style="margin-top: 100px;">
            <div class="d-flex align-items-center justify-content-between my-3">
                <h3>Programming</h3>
                <form action="">
                <input type="text" name="search-training" id="search-training" class="form-control" placeholder="Search..">
                </form>
            </div>
        <div class="card my-4 rounded-4 shadow bg-light training">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-6">
                            <img src="~/img/html.png" />
                        </div>
                        <div class="col-6 py-3">
                            <div class="d-flex">
                            <h5 class="fw-bold topic-word">HTML Basic </h5>
                                @for (var i = 0; i < 4; i++)
                                {
                                    <i class="fa-solid fa-star" style="color: #EAC612;"></i>
                                }
                            </div>
                            
                            <p class="fs-6 w-75 cut-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                            <a class="btn btn-primary learn-btn" asp-controller="Training" asp-action="Training">LEARN NOW</a>
                       
                        </div>
                    </div>
                </div>
            </div>
        <div class="card my-4 rounded-4 shadow bg-light training">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-6">
                            <img src="~/img/python.png" />
                        </div>
                        <div class="col-6 py-3">
                            <div class="d-flex">
                            <h5 class="fw-bold topic-word">Python </h5>
                                @for (var i = 0; i < 3; i++)
                                {
                                    <i class="fa-solid fa-star" style="color: #EAC612;"></i>
                                }
                            </div>
                        <p class="fs-6 w-75 cut-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <a class="btn btn-primary learn-btn" asp-controller="Training" asp-action="Training">LEARN NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="card my-4 rounded-4 shadow bg-light training">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-6">
						<img src="~/img/python.png" />
                    </div>
                    <div class="col-6 py-3">
                        <div class="d-flex">
                            <h5 class="fw-bold topic-word">C#</h5>
                            @for (var i = 0; i < 5; i++)
                            {
                                <i class="fa-solid fa-star" style="color: #EAC612;"></i>
                            }
                        </div>
                        <p class="fs-6 w-75 cut-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. tempor incididunt ut labore et dolore magna aliqua</p>
                        <a class="btn btn-primary learn-btn" asp-controller="Training" asp-action="Training">LEARN NOW</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-4 rounded-4 shadow bg-light training">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-6">
                        <img src="~/img/python.png" />
                    </div>
                    <div class="col-6 py-3">
                        <div class="d-flex">
                            <h5 class="fw-bold topic-word">PHP</h5>
                            @for (var i = 0; i < 5; i++)
                            {
                                <i class="fa-solid fa-star" style="color: #EAC612;"></i>
                            }
                        </div>
                        <p class="fs-6 w-75 cut-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. tempor incididunt ut labore et dolore magna aliqua</p>
                        <a class="btn btn-primary learn-btn" href="">LEARN NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section scripts {
    <script>
        /*SEARCH TRAINING*/
        document.getElementById('search-training').addEventListener('input', function () {
            var searchQuery = this.value.toLowerCase();
            document.querySelectorAll('.card').forEach(function (card) {
                var find_training = card.querySelector('.topic-word').textContent.toLowerCase();
                card.style.display = find_training.includes(searchQuery) ? 'block' : 'none';
            });
        });
    </script>
}


