 <!-- Sidebar -->
<aside id="sidebar" class="sidebar border border-black border-2">
    <div class="sidebar-header d-flex align-items-center justify-content-center">
        <h4 class="m-0">HTML Tutorial</h4>
    </div>
    <form action="" method="POST" class="m-2">
        <input type="text" name="search" id="search" class="form-control border-black" placeholder="Search...">
    </form>
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link active" href="topic.html">
                <span>HTML Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span>HTML Introduction</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span>HTML Editors</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span>HTML Basic</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span>HTML Elements</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span>HTML Attributes</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span>HTML Headings</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span>HTML Paragraphs</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">
                <span>HTML Styles</span>
            </a>
        </li>
    </ul>
</aside>

<!-- MAIN BODY -->
<main id="main" class="main">
    <!-- About the topic -->
    <div class="container p-5">
        <div class="lh-1">
            <h1>HTML Basics</h1>
            <p class="fs-5">Short description here about HTML. <a href="">Show More</a></p>
            <p class="fs-5">Created By: Python Snake</p>
            <p class="fs-5">Last Updated: 02/02/02</p>
            <p class="fs-5">Training Category: Programming</p>
            <p class="ratings">STAR STAR STAR STAR STAR</p>
        </div>
        <button class="btn btn-primary w-25" data-bs-toggle="modal" data-bs-target="#rating">Rate</button>
        <p class="fs-5">Resources Files: 20 Files</p>
        <a class="btn btn-primary w-25" href="#" download="">Download</a>
    </div>
</main>

<!-- MODAL -->
<div class="modal fade" id="rating" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="rating" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Training Feedback Section -->
                <h3>Training Feedback</h3>
                <div class="row">
                    <div class="col-3">
                        <div class="d-flex flex-column align-items-center justify-content-center lh-1 mt-4">
                            <p class="fs-4 m-0">4.8</p>
                            <p class="fs-4 m-0">STAR STAR</p>
                            <p class="fs-4 m-0">Rating</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="progress my-2" role="progressbar">
                            <div class="progress-bar bg-warning text-dark" style="width: 100%">100%</div>
                        </div>
                        <div class="progress my-2" role="progressbar">
                            <div class="progress-bar bg-warning text-dark" style="width: 75%">75%</div>
                        </div>
                        <div class="progress my-2" role="progressbar">
                            <div class="progress-bar bg-warning text-dark" style="width: 50%">50%</div>
                        </div>
                        <div class="progress my-2" role="progressbar">
                            <div class="progress-bar bg-warning text-dark" style="width: 25%">25%</div>
                        </div>
                        <div class="progress my-2" role="progressbar">
                            <div class="progress-bar bg-warning text-dark" style="width: 10%">10%</div>
                        </div>

                    </div>
                    <div class="col-3">
                        <div class="my-1 lh-1">
                            <p class="fs-6 m-2">5 STAR</p>
                            <p class="fs-6 m-2">4 STAR</p>
                            <p class="fs-6 m-2">3 STAR</p>
                            <p class="fs-6 m-2">2 STAR</p>
                            <p class="fs-6 m-2">1 STAR</p>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- Leave a Rating Section -->
                <h3>Leave a Rating</h3>
                <form action="" method="POST">
                    <div class="row">
                        <div class="d-flex justify-content-center">
                            <div class="rating">
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                            </div>
                        </div>
                    </div>
                    <textarea name="rating-comment" id="rating-comment" class="form-control h-25 mb-2"
                              placeholder="Tell us why."></textarea>
                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                </form>
                <hr>
                <!-- User Reviews Section -->
                <h3>User Reviews</h3>
                <div class="card my-3">
                    <div class="card-body p-2">
                        <div class="d-flex">
                            <div class="rounded-img">
                                <img src="assets/img/defaultimage.jpg" alt="">
                            </div>
                            <div class="ms-3">
                                <p class="fs-5 m-0 fw-bold">Wael Hee</p>
                                <p class="fs-5 m-0">STAR STAR STAR STAR STAR</p>
                            </div>
                        </div>
                        <div class="my-3">
                            <p class="fs-6">The resource files are very informative. It really helps me in my learning journey about HTML. Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum <a href="">Read More</a></p>
                        </div>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-body p-2">
                        <div class="d-flex">
                            <div class="rounded-img">
                                <img src="assets/img/defaultimage.jpg" alt="">
                            </div>
                            <div class="ms-3">
                                <p class="fs-5 m-0 fw-bold">Aiko E. Lara</p>
                                <p class="fs-5 m-0">STAR STAR STAR STAR STAR</p>
                            </div>
                        </div>
                        <div class="my-3">
                            <p class="fs-6">The resource files are very informative. It really helps me in my learning journey about HTML. Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum <a href="">Read More</a></p>
                        </div>
                    </div>
                </div>
                <div class="card my-3">
                    <div class="card-body p-2">
                        <div class="d-flex">
                            <div class="rounded-img">
                                <img src="assets/img/defaultimage.jpg" alt="">
                            </div>
                            <div class="ms-3">
                                <p class="fs-5 m-0 fw-bold">Clee Torres</p>
                                <p class="fs-5 m-0">STAR STAR STAR STAR STAR</p>
                            </div>
                        </div>
                        <div class="my-3">
                            <p class="fs-6">The resource files are very informative. It really helps me in my learning journey about HTML. Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum <a href="">Read More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>