<!-- MAIN BODY -->
<main class="main">
    <div class="wave-container p-5">
        <div class="d-flex flex-column justify-content-center text-center pt-5">
            <h1>Programming</h1>
            <div class="search-container">
                <form action="" method="POST">
                    <input type="text" name="search" id="search" class="search-input" placeholder="Search topic...">
                </form>
                <button type="submit" class="search-button">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
        <div class="shape-divider">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                      class="shape-fill"></path>
            </svg>
        </div>
    </div>

    <!-- TOPICS -->
    <div class="container">
        <div class="row my-5">
            <div class="col-4">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="topic-img-container">
                        <a asp-controller="Training" asp-action="Index"><img src="~/img/html.PNG" class="img-fluid topic-img" alt=""></a>
                    </div>
                    <p class="fs-5">HTML Basics</p>
                    <p class="ratings" id="ratings"></p>
                    <a class="btn btn-primary" href="topic.html">DOWNLOAD RESOURCES</a>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="topic-img-container">
                        <a href="#"><img src="~/img/css.PNG" class="img-fluid topic-img" alt=""></a>
                    </div>
                    <p class="fs-5">CSS Basics</p>
                    <p class="ratings" id="ratings"></p>
                    <a class="btn btn-primary" href="#">DOWNLOAD RESOURCES</a>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="topic-img-container">
                        <a href="#"><img src="~/img/js.PNG" class="img-fluid topic-img" alt=""></a>
                    </div>
                    <p class="fs-5">Javascript</p>
                    <p class="ratings" id="ratings"></p>
                    <a class="btn btn-primary" href="#">DOWNLOAD RESOURCES</a>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-4">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="topic-img-container">
                        <a href="#"><img src="~/img/python.PNG" class="img-fluid topic-img" alt=""></a>
                    </div>
                    <p class="fs-5">Python</p>
                    <p class="ratings" id="ratings"></p>
                    <a class="btn btn-primary" href="#">DOWNLOAD RESOURCES</a>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="topic-img-container">
                        <a href="#"><img src="~/img/java.PNG" class="img-fluid topic-img" alt=""></a>
                    </div>
                    <p class="fs-5">Java</p>
                    <p class="ratings" id="ratings"></p>
                    <a class="btn btn-primary" href="#">DOWNLOAD RESOURCES</a>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="topic-img-container">
                        <a href="#"><img src="~/img/php.PNG" class="img-fluid topic-img" alt=""></a>
                    </div>
                    <p class="fs-5">PHP</p>
                    <p class="ratings" id="ratings"></p>
                    <a class="btn btn-primary" href="#">DOWNLOAD RESOURCES</a>
                </div>
            </div>
        </div>
    </div>
</main>