/* ===== SIDEBAR ===== */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    width: 300px;
    transition: all 0.3s;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
}

.sidebar-header {
    margin: 0;
    padding: 20px 15px;
    color: #808191;
}

    .sidebar-header img {
        margin-left: 45px;
        height: 100px;
        width: auto;
    }

/*
@media (max-width: 1199px) {
    .sidebar {
        left: -300px;
    }
}
*/

.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}

.sidebar-nav {
    padding: 10px;
    margin: 0;
    list-style: none;
}

    .sidebar-nav .nav-item {
        padding: 10px;
        margin: 0;
        list-style: none;
        margin-bottom: 5px;
        transition-duration: 150ms;
        border-radius: 10px;
    }

    .sidebar-nav .nav-heading {
        color: black;
        font-weight: 600;
        margin: 10px 0 5px 15px;
        border-bottom: 1px solid black;
    }

    .sidebar-nav .nav-link {
        font-size: 18px;
        color: #808191;
        transition: 0.3s; /* Added 's' to the transition property */
        padding: 10px 15px;
    }


    .sidebar-nav .nav-link:hover {
        background: #2F3CED;
        color: white;
        border-radius: 10px;
    }

    .sidebar-nav .active {
        background: #2F3CED;
        color: white;
        border-radius: 10px;
    }


.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 0.1px solid lightgray;
    border-radius: 2px;
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.trainings-list {
    padding: 5px 30px;
    /*border: 1px solid red;*/
}

