* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

.top-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left img {
    margin: 50px 0px 0px 50px;
    max-height: 75px;
}

.container {
    border: 2px solid #28282b;
    border-radius: 10px;
    margin: 120px 500px;
}

.top {
    padding: 50px 30px 50px;
}

    .top hr {
        margin-top: 10px;
        border: 1px solid #28282b;
    }
