
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

.top-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left img {
    margin: 50px 0px 0px 50px;
    max-height: 75px;
}

.container {
    border: 2px solid #28282b;
    border-radius: 10px;
    margin: 70px 530px;
}

.top {
    padding: 50px 30px 0px;
}

    .top hr {
        margin-top: 10px;
        border: 1px solid #28282b;
    }

.middle {
    padding: 20px 30px 50px;
}

.email-user label {
    font-size: 20px;
}

.email-user input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #28282b;
    padding-left: 10px;
}

.submit-btn button {
    margin-top: 20px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: #4390bc;
    cursor: pointer;
}
