@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<header class="@((ViewBag.LoginView == true) ? "hide-navbar" : "")">
    <div class="logo-container">
        <img src="~/img/darkblue-logo.png"
             style="width: 185px;" alt="logo"
             onclick="window.location.href = '@Url.Action("Index", "Home")';">
    </div>
    <div class="profile-section">
        @HttpContextAccessor.HttpContext.Session.GetString("UserName")
        <div class="profile-container">
            <img src="~/img/profile-logo.jpg"
                    class="profile-logo"
                    alt="dp">
        </div>
        <h1>Username</h1>
        <div class="dropdown">
            <select>
                <option>
                    <i class="fa-solid fa-gear"></i>
                    <a href="#">est</a>
                </option>
                <option>
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <a asp-action="SignOutUser" asp-controller="Account">Logout</a>
                </option>
            </select>
        </div>
    </div>
</header>
<div>
    @Html.Partial("_TopNavbar.cshtml")
</div>
