@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


<header class="fixed-top" style="background-color: #2F3CED; color: white;">
    <div class="navbar">
        <div class="logo">
            <img src="~/img/logo_with_text_light.png" />
        </div>
        <div class="right">

        </div>
    </div>
    <div class="navbar2">
        <a class="link">Training Categories</a>
        <a class="link">Training</a>
        <a class="link">Ratings</a>
        <a class="link">Topics</a>
        <a class="link">Users</a>
        <a class="link">Account Recovery Requests</a>

   </div>
</header>
