<div class="top-navbar">
    <a asp-action="Index" asp-controller="Home">Training Category</a>
    <a asp-action="Training" asp-controller="Home">Training</a>
    <a asp-action="Topics" asp-controller="Home">Topics</a>
    <a asp-action="Resources" asp-controller="Home">Resources</a>
    <a asp-action="Ratings" asp-controller="Home">Ratings</a>
    <a asp-action="Users" asp-controller="Home">Users</a>
    <a asp-action="ForgetPasswordRequests" asp-controller="Home">Forget Password Requests</a>
</div>