@{
	ViewData["Title"] = "Edit Training Category";
}
@model ShugyopediaApp.Services.ServiceModels.TrainingCategoryViewModel
<main>
    <div class="container my-4">
        <h1 class="text-center">Edit Training Category</h1>
        <div class="row justify-content-center my-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form asp-controller="TrainingCategory" asp-action="EditTrainingCategory" method="POST">
                            <input type="hidden" asp-for="CategoryId" class="form-control"
                                   value="@Model.CategoryId">
                            <div class="form-group my-3">
                                <label for="CategoryName">Category Name</label>
                                <input type="text" asp-for="CategoryName" class="form-control"
                                       value="@Model.CategoryName">
                            </div>
                            <div class="form-group my-3">
                                <label for="CategoryIcon">Category Icon</label>
                                <input type="text" asp-for="CategoryIcon" class="form-control" value="@Model.CategoryIcon">
                                <p class="fw-6 p-0 m-0">
                                    Copy Snippet from: <a href="http://fontawesome.com/search" target="_blank">http://fontawesome.com</a>
                                </p>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mt-5">
                                <button type="reset" class="btn btn-primary mx-5">Clear</button>
                                <button type="submit" class="btn btn-success mx-5">Edit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
