@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* CHATBOX BUTTON*@
<div class="chatbox-btn-container">
    <button id="chatbox-btn" type="button" class="chatbox-btn">
        <i class="fa-regular fa-message"></i>
    </button>
</div>

@* CHATBOX *@
<div id="chatbox-container" class="chatbox-container">
    <div class="chatbox">
        <button type="button" id="close-btn-message" class="close-btn-message">
            <i class="fa-regular fa-circle-xmark"></i>
        </button>
        <div class="message-section">
            <p class="message-send">send</p>
            <p class="message-receive">receive</p>
            <p class="message-send">send</p>
            <p class="message-send">send</p>
            <p class="message-receive">receive</p>
            <p class="message-send">send</p>
            <p class="message-receive">receive</p>
            <p class="message-send">send</p>
        </div>
        <form class="input-container">
            <input type="text" placeholder="message here..." required/>
            <button type="submit" name="submit-message" id="submit-message">
                <i class="fa-regular fa-share-from-square"></i>
            </button>
        </form>
    </div>
</div>
